<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wheel_legged_fyt_whole">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.023107 -0.002215 0.138865"
        rpy="0 0 0" />
      <mass
        value="18.0" />
      <inertia
        ixx="0.344508086"
        ixy="-0.005765045"
        ixz="0.010272717"
        iyy="0.440480249"
        iyz="0.010141437"
        izz="0.450556073" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_thigh_link">
    <inertial>
      <origin
        xyz="-0.101619 -0.003797 0.001285"
        rpy="0 0 0" />
      <mass
        value="0.32" />
      <inertia
        ixx="0.000129835"
        ixy="-0.000007935"
        ixz="0.000002522"
        iyy="0.001596561"
        iyz="0.000001972"
        izz="0.001709867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0.1659 0.11588"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_thigh_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="left_leg_link">
    <inertial>
      <origin
        xyz="0.00151762255753111 0.102069878505437 -0.000357531276701017"
        rpy="0 0 0" />
      <mass
        value="0.275645352077111" />
      <inertia
        ixx="0.00268587161058934"
        ixy="6.48069566781304E-05"
        ixz="-1.49265407836206E-07"
        iyy="7.54275103357019E-05"
        iyz="6.241130112922E-06"
        izz="0.00275070438483319" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_leg_joint"
    type="revolute">
    <origin
      xyz="-0.21 0 0.018"
      rpy="0 0 0" />
    <parent
      link="left_thigh_link" />
    <child
      link="left_leg_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.2"
      upper="0.7"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="left_wheel_link">
    <inertial>
      <origin
        xyz="0.000001 0.000189 0.012137"
        rpy="0 0 0" />
      <mass
        value="0.600" />
      <inertia
        ixx="0.000626066"
        ixy="-0.000001816"
        ixz="0.000000002"
        iyy="0.000624082"
        iyz="0.000002206"
        izz="0.001190640" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="revolute">
    <origin
      xyz="0 0.25 0.01875"
      rpy="0 0 0" />
    <parent
      link="left_leg_link" />
    <child
      link="left_wheel_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="4.5"
      velocity="1000" />
  </joint>
  <link
    name="right_thigh_link">
    <inertial>
      <origin
        xyz="-0.101619284323265 0.0037974585597505 0.00128508276358441"
        rpy="0 0 0" />
      <mass
        value="0.32" />
      <inertia
        ixx="0.000129835273697855"
        ixy="7.9353679548194E-06"
        ixz="2.52232630784962E-06"
        iyy="0.00159656106729046"
        iyz="-1.9716922425206E-06"
        izz="0.00170986748305259" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_thigh_joint"
    type="revolute">
    <origin
      xyz="0 -0.1659 0.11588"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_thigh_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="right_leg_link">
    <inertial>
      <origin
        xyz="0.00151762255737994 -0.102069878505427 -0.00035753127670124"
        rpy="0 0 0" />
      <mass
        value="0.3" />
      <inertia
        ixx="0.00268587161058937"
        ixy="-6.48069566781321E-05"
        ixz="-1.49265407838554E-07"
        iyy="7.54275103357023E-05"
        iyz="-6.24113011292532E-06"
        izz="0.00275070438483322" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_leg_joint"
    type="revolute">
    <origin
      xyz="-0.21 0 0.018"
      rpy="0 0 0" />
    <parent
      link="right_thigh_link" />
    <child
      link="right_leg_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.7"
      upper="1.2"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="right_wheel_link">
    <inertial>
      <origin
        xyz="-0.000001 -0.000189 0.012137"
        rpy="0 0 0" />
      <mass
        value="0.600" />
      <inertia
        ixx="0.000626066"
        ixy="-0.000001816"
        ixz="-0.000000002"
        iyy="0.000624082"
        iyz="-0.000002206"
        izz="0.001190640" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="revolute">
    <origin
      xyz="0 -0.25 0.01875"
      rpy="0 0 0" />
    <parent
      link="right_leg_link" />
    <child
      link="right_wheel_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="4.5"
      velocity="1000" />
  </joint>

</robot>
